<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row0"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="Emissions per capita, 2018"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row1"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="Total (without LULUCF, including indirect CO2)"/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row2"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="tonnes"/>
</config>
<config key="Variable_3">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row3"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  EU27+UK  "/>
</config>
<config key="Variable_4">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row4"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Austria  "/>
</config>
<config key="Variable_5">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row5"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Belgium  "/>
</config>
<config key="Variable_6">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row6"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Bulgaria  "/>
</config>
<config key="Variable_7">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row7"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Croatia  "/>
</config>
<config key="Variable_8">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row8"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Cyprus  "/>
</config>
<config key="Variable_9">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row9"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Czechia  "/>
</config>
<config key="Variable_10">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row10"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Denmark  "/>
</config>
<config key="Variable_11">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row11"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Estonia  "/>
</config>
<config key="Variable_12">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row12"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Finland  "/>
</config>
<config key="Variable_13">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row13"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  France  "/>
</config>
<config key="Variable_14">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row14"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Germany  "/>
</config>
<config key="Variable_15">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row15"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Greece  "/>
</config>
<config key="Variable_16">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row16"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Hungary  "/>
</config>
<config key="Variable_17">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row17"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Ireland  "/>
</config>
<config key="Variable_18">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row18"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Italy  "/>
</config>
<config key="Variable_19">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row19"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Latvia  "/>
</config>
<config key="Variable_20">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row20"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Lithuania  "/>
</config>
<config key="Variable_21">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row21"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Luxembourg  "/>
</config>
<config key="Variable_22">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row22"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Malta  "/>
</config>
<config key="Variable_23">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row23"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Netherlands  "/>
</config>
<config key="Variable_24">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row24"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Poland  "/>
</config>
<config key="Variable_25">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row25"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Portugal  "/>
</config>
<config key="Variable_26">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row26"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Romania  "/>
</config>
<config key="Variable_27">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row27"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Slovakia  "/>
</config>
<config key="Variable_28">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row28"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Slovenia  "/>
</config>
<config key="Variable_29">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row29"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Spain  "/>
</config>
<config key="Variable_30">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row30"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  Sweden  "/>
</config>
<config key="Variable_31">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="Row31"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="  United Kingdom (Convention)  "/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="column" type="xstring" value="Col0"/>
<config key="ignore missing_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="ignore missing" type="xboolean" value="true"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.flowvariable.tablecoltovariable3.TableColumnToVariable3NodeFactory"/>
<entry key="node-name" type="xstring" value="Table Column to Variable"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.2.2.v202009011342"/>
<entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.2.2.v202009020812"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Table Column to Variable"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObject"/>
<entry key="port_object_summary" type="xstring" value="Variables connection"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="28d2f425-f7bd-4251-bf7a-63dcc935d948"/>
</config>
</config>
